<h1>Listing plants</h1>

<table>
  <tr>
    <th>Commonname</th>
    <th>Scientificname</th>
    <th>Timetoharvest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plants.each do |plant| %>
  <tr>
    <td><%= plant.commonname %></td>
    <td><%= plant.scientificname %></td>
    <td><%= plant.timetoharvest %></td>
    <td><%= link_to 'Show', plant %></td>
    <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
    <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plant', new_plant_path %>
